* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #0f0f0f;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background: rgba(0,0,0,0.8);
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav.crumbs ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
}

.crum a {
  color: #bbbbbb;
}

header div img {
  width: 40px;
  margin: 6px;
  border-radius: 5px;
  transition: 0.3s;
}

section {
  padding: 40px;
  margin: 20px 0;
  background: rgba(255,255,255,0.03);
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
}

sectionimg {
  width: 100%;
}

blockquote {
  background: rgba(255,255,255,0.06);
  padding: 15px;
  border-left: 5px solid gold;
  font-style: italic;
  margin: auto;
  width: 70%;
}

artcle {
  padding: 20px;
}

article {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0,0,0,0.25);
  box-shadow: 0 0 20px #000;
  border-radius: 8px;
}

article h2 {
  color: rgb(209,162,70);
  font-size: 26px;
  margin-bottom: 10px;
}

article h3 {
  color: rgb(209, 162, 70);
  margin-bottom: 10px;
  font-weight: 600;
}

article p {
  color: #dddddd;
  line-height: 1.6;
  margin-bottom: 15px;
}

article a {
  display: inline-block;
  padding: 10px 18px;
  background: rgb(209,162,70);
  color: #111;
  border-radius: 4px;
  text-decoration: none;
  transition: 0.3s;
}

article a:hover {
  background: #b3862e;
  transform: scale(1.05);
}

figure img {
  width: 100%;
  max-width: 320px;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  margin: 10px;
}

footer {
  background: #000;
  padding: 30px;
  text-align: center;
}

footer figure {
  display: flex;
  justify-content: center;
  gap: 15px;
}

figure img {
  filter: grayscale(1);
}

@keyframes float {
  from {opacity:0; transform: translateY(20px);}
  to {opacity:1; transform: translateY(0);}
}
